@{
	Layout = "_Layout";
}

@using GameDatabase.Models
@model List<GameDatabase.Models.Game>

<h2 id="title">Games</h2>

<hr />

@if (Model.Count == 0)
{
	<p>No games have been added yet.</p>
}

<ul>
	@foreach (Game game in Model)
	{
		<li>@Html.ActionLink($"{game.Name}", "Details", new { id = game.GameId })</li>
	}
</ul>

<hr />

<p>
	@Html.ActionLink("Add a new game", "Create")
	|
	@Html.ActionLink("Go to homepage", "Index", "Home")
</p>